.comment {
    display: flex;
    width: 100%;
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    margin: 0.1rem 0.35rem 0 0;
}


.username {
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
}
.comment-text {
    text-align: left;
    
}

.comment-trash {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    justify-self: flex-end;
}

.delete-comment-container {
    display: none;
}

.delete-comment-confirm {
    width: 5rem;
    position: absolute;
    top: 0.25rem;
    right: 6rem;
    z-index: 100;
    background-color: red;
    
}
.delete-comment-cancel {
    width: 5rem;
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    z-index: 100;
    background-color: yellow;
    
}

.delete-container-appear {
    display: block;
}