.comment {
    display: flex;
    width: 100%;
}

.user-avatar {
    width: 2rem;
    height: 2rem;
    margin: 0.1rem 0.35rem 0 0;
}


.username {
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
}
.comment-text {
    text-align: left;
    
}

.comment-trash {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    justify-self: flex-end;
    cursor: pointer;
}

.delete-comment-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #52b788;
    height: 3rem;
    right: -11rem;
    opacity: 0;
    width: 10.5rem;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.delete-comment-confirm, .delete-comment-cancel {
    width: 5rem;
    border-radius: 7px;
    z-index: 100;
    font-weight: 600;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}
.delete-comment-confirm {
    background-color: red;
}
.delete-comment-cancel {
    background-color: #969696;
    margin-left: 0.25rem;
    
}

.delete-container-appear {
    right: 0;
    opacity: 1;
    
}