* {
  font-family: "Raleway", sans-serif !important;
}
*, ::after, ::before {
  box-sizing: border-box!important;
}
*::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent!important;
}
 *::-webkit-scrollbar-track {
  background-color: transparent!important;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #000;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #52b788!important;
  
}

button:hover {
  background-color: #e2ff61;
  cursor: pointer;
  
}

a {
  text-decoration: none!important;
  color: #000!important;
}

input {
  border-radius: 0;
}
