body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #52b788!important;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.65rem 2.5rem;
  background-color: transparent;
  border: 2px solid black;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #e2ff61;
  
  cursor: pointer;
  
}