.profile-container {
    margin-top: 9rem;
    line-height: 1.4;
}

.gig-social {
    font-size: 1.4rem;
    font-weight: 700;
}
.genius-prompt {
    width: 80%!important;
}
.username {
    font-size: 1.4rem;
    font-weight: 700;
}
.genius-button {
    width: 80%!important;
}

@media only screen and (min-width: 700px) {
    .genius-prompt {
        width: 25rem!important;
    }
    .genius-button {
        width: 15rem!important;
    }
}

