.choose {
    font-weight: 700;
}

.chosen-song {
    border: 1px solid yellow!important;
    color: yellow!important;
}

.add-song {
    width: auto!important;
    height: 3rem;
    display: none;
}

.appear {
    display: flex;
}