.metronome-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #e2ff61;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: -0.5rem;
    cursor: pointer;
    animation-iteration-count: infinite;
}

.up-arrow, .down-arrow {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: -0.4rem;
    cursor: pointer;
}

.down-arrow {
    transform: rotate(180deg);
}

.metronome-bpm {
    position: relative;
    top: 0.4rem;
}

@keyframes click {
    from {
        transform: scale(1.1);
        
    }
    to {
        transform: scale(1);
        
    }
}
.pulse {
    animation-name: click;
    animation-duration: 1s;
    
}
