
.comments-container {
    width: 95%;
    
}

.comments-width {
    width: 100%!important;
    margin: 2rem!important;
    overflow-y: auto;
    max-height: 30rem;
}
.comment-title {
    text-align: left;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.comment-form {
    width: 100%;
}
.current-user {
    width: 2rem;
    height: 2rem;
    align-self: flex-start;
    margin-right: 0.25rem;
}
.add-comment-container {
    width: 100%;
}
.comment-input {
    margin-bottom: 1rem!important;
    padding: 0.25rem 3.5rem 0.25rem 0.5rem!important;
    font-size: 1rem!important;
}
.post-button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    top: 0.35rem;
    display: none;
    color: black;
    position: absolute;
    right: 5px;
}

.post-button:hover {
    background-color: transparent!important;
}

.post-appear {
    display: block;
}

.no-comments {
    margin-left: 2rem;
}

@media only screen and (min-width: 1000px) {
.comments-width {
    width: 50%!important;
}

.comments-container {
    min-width: 27rem!important;
    margin-top: 1.5rem;
    }
    .comments-width { 
        margin-top: 0;
    }
    
    .comment-title {
        margin-top: 0;
    }
}