.song-order {
    background-color: #303030;
    padding: 0.75rem;
    height: 1rem;
    width: 1rem;
    top: 0;
    left: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    text-align: left;
    margin: 0.15rem -0.15rem 0.15rem 0.75rem;
    overflow: hidden;
    
}
.song {
    margin-right: 0!important;
}
.album-art {
    width: 5rem;
    height: 100%;
    transition: width 0.3s ease-in-out;
}
.song-name, .album-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-name {
    font-weight: bold;
}

.album-info {
    margin: 0;
}

.bpm {
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.bpm:hover {
    color: #e2ff61;
}
.lyrics {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
}

.garbage {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.confirm-container {
    opacity: 0;
    right: -250px;
    background-color: #303030;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.delete-button, .delete-cancel {
    border-radius: 7px;
    font-weight: 600!important;
    padding: 0.25rem 1rem!important;
    margin-bottom: 0.65rem;
}

.delete-button {
    background-color: red!important;
    margin-right: 0.25rem;
}
.delete-button:hover {
    background-color: rgb(255, 100, 100)!important;
}
.delete-cancel {
    background-color: #969696!important;
    margin-right: 1rem;
}
.delete-cancel:hover {
    background-color: darkgray!important;
}
.delete-confirm-visible {
    opacity: 1;
    right: 0;
}