.album-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    text-align: left;
    margin-left: 1rem;
}

.album-art {
    width: 5rem;
    height: 100%;
}

.song-name {
    font-weight: bold;
}

.album-info {
margin: 0;
}

.bpm {
    margin-right: 0.5rem;
}
.lyrics {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}