.song-order {
    background-color: #303030;
    padding: 0.75rem;
    height: 1rem;
    width: 1rem;
    top: 0;
    left: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    text-align: left;
    margin-left: 1rem;
    
}

.album-art {
    width: 5rem;
    height: 100%;
}

.song-name {
    font-weight: bold;
}

.album-info {
    margin: 0;
}

.bpm {
    margin-top: 1rem;
    margin-right: 1rem;
}
.lyrics {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
}

.garbage {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.delete-confirm, .delete-cancel {
    display: none;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.delete-confirm {
    background-color: red!important;
}

.delete-cancel {
    background-color: #e2ff61!important;
}
.delete-confirm-visible {
    display: block;
}