.profile-container {
    margin-top: 9rem;
    line-height: 1.4;
}

.gig-social {
    font-size: 1.4rem;
    font-weight: 700;
}
.genius-prompt {
    width: 80%!important;
}
.username {
    font-size: 1.4rem;
    font-weight: 700;
}
