.setlist-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}


.setlist-info-container {
    overflow: hidden;
    flex-grow: 3;
}
.setlist-row {
    padding-left: 0!important;
    margin: 0!important;
}
.setlists-title {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: -2px;
}
.setlist-header-profile {
    margin-bottom: 0!important;
}
.container {
    align-items: center;

}
.no-setlists {
    font-weight: 700;
}
.setlist-modal-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1.5rem;
    
}
.profile-title-container {
    height: 2.5rem!important;
    padding: 0!important;
}
.plus-col {
    text-align: right;
}
.plus {
    width: 2rem;
    margin-right: 0.5rem;
}

.guitar-pick {
    width: 2rem!important;
    height: 2rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}

.add-setlist {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.add-setlist-button {
    margin-top: 0!important;
}
.add-setlist:hover {
    background-color: transparent;
}
.modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.8);
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1000;
}
.add-setlist-form {
    padding-top: 1rem!important;
    background-color: #52b788!important;
    position: relative;
    top: -90px;
    height: 13rem!important;
}
.profile-modal-close {
    width: 2rem;
    transform: rotate(45deg);
    margin-bottom: 2rem;
}
.profile-errors {
    padding: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.open-modal {
    display: flex;
}