.results-container {
    margin-top: 1rem!important;
    width: 100%;
}
.results-container-expand {
    margin-bottom: 20rem;
}
.genius-search-errors {
    padding: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.genius-search-button {
    margin-top: 0;
}
.setlist-add-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
}

.add-song-form {
    padding-top: 0!important;
    padding-bottom: 0!important;
    width: 100%;
    top: 20%;
    background-color: #52b788;
    height: 16rem!important;
}

.new-height {
    height: 35rem!important;
}

.modal-title {
    background-color: #52b788;
    box-sizing: border-box;
    top: 0;
    display: flex;
    padding: 0.25rem 0 0 0;
    margin-bottom: 0.5rem;
    position: sticky;
    justify-content: center;
    align-items: center;
    
}

.search {
    position: relative;
    top: 0.5rem;
}

@media only screen and (min-width: 700px) {
    .add-song-form {
        width: 26rem;
    }
}