.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    margin-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 5px double #000;
    margin-bottom: 3rem;
    display: flex;
}

.header-title {
    font-size: 2rem;
    line-height: 75%;
    letter-spacing: -3px;
    font-weight: 900;
    margin: 0 0 0 0.5rem;
    text-align: left;
    font-family: "Poppins";
}

.genius-prompt {
    font-size: 1.2rem;
    width: 80%;
}