.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    margin-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 5px double #000;
    margin-bottom: 3rem;
}

.header-title {
    font-size: 2rem;
    line-height: 75%;
    letter-spacing: -3px;
    font-weight: 900;
    margin: 0 0 0 0.5rem;
    text-align: left;
    font-family: "Poppins"!important;
}

.genius-prompt {
    font-size: 1.2rem;
    width: 80%;
}

.hamburger {
    width: 2rem;
    margin-right: 1.5rem;
}

.nav-link {
    display: none;
    font-weight: 700;
}

@media only screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
    .nav-link {
        display: block;
    }
}