ul {
    margin: 0;
    background-color: #52b788!important;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    margin-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 5px double #000;
    margin-bottom: 3rem;
}

.header-title {
    font-size: 2rem;
    line-height: 75%;
    letter-spacing: -3px;
    font-weight: 900;
    margin: 0 0 0 0.5rem;
    text-align: left;
    font-family: "Poppins"!important;
}

.genius-prompt {
    font-size: 1.2rem;
    width: 80%;
}

.hamburger {
    width: 2rem;
    position: absolute;
    right: 1.5rem;
    display: block;
    cursor: pointer;
    z-index: 99;
}

.nav-list {
    transition: transform 0.3s ease-out;
    height: 50px!important;
    z-index: 100;
    right: 0;
    position: fixed;
}

.closed {
    transform: translateX(100%);
    
}

.open {
    transform: translateX(0);
}

.plus-menu-exit {
    transform: rotate(45deg);
    width: 2rem;
    cursor: pointer;
    display: none;
}

.nav-link {
    font-weight: 700;
    
}

.nav-log-out {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 700;
    white-space: nowrap;
    margin: 0!important;
}
.nav-log-out:hover {
    background-color: transparent;
    color: black;
    
}



@media only screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}