.setlist-art {
    width: 5rem;
    height: 100%;
    background-color: rgb(68, 68, 68);
}
.song-name {
    font-weight: bold;
}
.likes {
    width: 1.5rem;
    height: 1.5rem;
}

.like-count {
    position: relative;
    margin: 0;
    padding-bottom: 0.2rem;
    padding-left: 0.1rem;
}
.song-number {
    margin-right: 1rem;
}
.likes-songs-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.album-info {
    margin: 0;
}
.setlist-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    text-align: left;
    margin-left: 1rem;
}