.loading-style {
    margin-top: 20rem!important;
}


.setlist-header {
    margin-bottom: 1.5rem!important;
  justify-content: center;
}
@media only screen and (min-width: 1080px) {
   
    .mobile-desktop-flex {
        margin-top: 3rem;
        flex-direction: row!important;
    }

}

@media only screen and (min-width: 700px) {
    .setlist-header {
        margin-bottom: 0!important;
    }
    .mobile-desktop-flex {
        margin-top: 3rem;
        width: 80%;
    }
}
