.setlist-header {
    margin-bottom: 0.5rem!important;
}

.results-container {
    margin-top: 1rem!important;
    width: 100%;
}

.setlists-title {
    margin-bottom: 0!important;
}

.setlist-likes {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.setlist-likes-count {
    margin: 0;
}

.comment-title {
    text-align: left;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;

}

.comment-form {
    margin-bottom: 1rem;
}

.current-user {
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    margin-left: 1.25rem;
    margin-right: 0.3rem;
}

.comment-input {
    margin-bottom: 0!important;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem!important;
    font-size: 1rem!important;
}