.setlist-header {
    margin-bottom: 0.5rem!important;
}

.results-container {
    margin-top: 1rem!important;
    width: 100%;
}

.setlists-title {
    margin-bottom: 0!important;
}

.setlist-likes {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.setlist-likes-count {
    margin: 0;
}

.comment-title {
    text-align: left;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;

}

.comment-form {
    margin-bottom: 1rem;
}

.current-user {
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    margin-left: 1.25rem;
    margin-right: 0.3rem;
}
.add-comment-container {
    width: 83%;
}
.comment-input {
    margin-bottom: 0!important;
    padding: 0.25rem 3.5rem 0.25rem 0.5rem!important;
    font-size: 1rem!important;
    flex-grow: 3!important;
}
.post-button {
    position: absolute;
    right: 0.25rem;
    background-color: transparent;
    border: none;
    font-weight: 700;
    display: none;
}

.post-appear {
    display: block;
}